{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="px-1">
    <h1>Dashboard</h1>

    {% if not user.is_verified %}
    <div class="mt-5">
        <h5 class="text-start mb-3">Resend Email Verification</h4>
        <div id="resend-activate-email-success-alert" class="alert alert-success" role="alert" style="display: none;"></div>
        <div id="resend-activate-email-danger-alert" class="alert alert-danger" role="alert" style="display: none;"></div>
        <form class="needs-validation" novalidate=""
              onsubmit="resend_activate_email(event)" id="resend-email-form">
            <input type="hidden" id="resend-activate-email-url" data-url="{% url "resendActivateEmail" %}" />
            <hr class="my-4">
            <button class="w-60 btn btn-primary btn-lg" type="submit" id="resend-activate-email-button">Resend</button>
            <hr class="my-4">
        </form>
    </div>
    {% endif %}

    <div class="mt-5">
        <h5 class="text-start mb-3">Update The Password</h4>
        <div id="password-success-alert" class="alert alert-success" role="alert" style="display: none;"></div>
        <div id="password-danger-alert" class="alert alert-danger" role="alert" style="display: none;"></div>
        <form class="needs-validation" novalidate=""
              onsubmit="patch_password(event)" id="password-form">
            <hr class="my-4">
            <div class="mb-3 row">
                <label for="oldPassword" class="col-4 col-form-label">Old Password</label>
                <div class="col-8">
                    <input type="password" class="form-control" id="oldPassword">
                </div>
            </div>
            <hr class="my-4">
            <div class="mb-3 row">
                <label for="newPassword" class="col-4 col-form-label">Password</label>
                <div class="col-8">
                    <input type="password" class="form-control" id="newPassword">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="newPasswordCheck" class="col-4 col-form-label">Confirm Password</label>
                <div class="col-8">
                    <input type="password" class="form-control" id="newPasswordCheck">
                </div>
            </div>
            <hr class="my-4">
            <button class="w-60 btn btn-primary btn-lg"
                    id="password-button"
                    type="submit">
                Update
            </button>
            <hr class="my-4">
        </form>
    </div>
</main>
{% endblock %}
